*
!*/
!/[Aa]ssets/*.rsp
!/[Aa]ssets/*.rsp.meta
!/[Aa]ssets/Live2D.meta
!/[Aa]ssets/Live2D/Cubism.meta
!/[Aa]ssets/Live2D/Cubism/**/*
!/[Aa]ssets/Live2D/package.json
!/[Aa]ssets/Live2D/package.json.meta
!/.gitattributes
!/.editorconfig
!/.gitignore
!/*.md
